nav ul{
display: inline-block;
list-style-type: none;
padding: 0px;
margin: 0px;
overflow: hidden;
}

nav ul li{
  float: left;
  width: 150px;
  background-color: black;
  margin-right: 10px;
  text-align: center;
  color: white;
}

nav ul a{
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

nav a:hover{
background-color: rgb(43, 45, 45);
}


h1{
  font-family: 'minecraft', sans-serif;
  font-size: 75px;
}

@font-face {
  font-family: 'minecraft';
  src: url(fonts/MinecraftEvenings-lgvPd.ttf);
}

header {
  justify-content: end;
  text-align: right;
  border: solid black 1px;
}

header h1 {
  text-align: left;
}

@font-face {
  font-family: 'mem';
  src: url(fonts/NexionPersonalUseOnly-aYPlo.otf);
}

span{
  font-family: 'mem';
  font-size: 60px;
}

 .meter{
  background: url(images/SPACE.avif);
  background-repeat: none;
  height: 500px;
  padding: 10px;
  background-position: center;
  background-size: auto;
  background-position: center bottom;
}

body {
  margin: 0px;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}

.hme {
  font-size: 20px;
  font-style: initial;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 700;
}

.hmbt {
  text-align: right;
  size: 35px;
  padding-right: 10px;
}
#homentry {
font-size: 40px;
border: solid black 4px;
border-radius: 25px;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}

#fe{
  color: red;
  font-size: 20px;
}

.side {
  width: 200px;
  text-align: left;
  height: 150px;
  margin: none;border: solid black 3px;
  justify-content: center;
  display: inline-block;
  padding-top:5px;
}
.sideb {
  width: 200px;
  text-align: left;
  height: 150px;
  margin: none;border: solid black 3px;
  justify-content: center;
  display: inline-block;
  padding-top: 5px;
}

/*contact page*/

input {
  background-color: white;
  width: 60%;
  margin-left: 10%;
  padding: 15px 15px;
  border-radius: 5px;
  border-color: red;
  margin-bottom: 20px;
}

textarea {
background-color: white;
width: 60%;
margin-left: 10%;
padding: 15px 15px;
border-radius: 5px;
border-color: red;
margin-bottom: 25px;
}

input:focus-within{
outline: none;
border-color: green;
border-width: 10px;
}

textarea:focus-within{
  outline: none;
  border-color: green;
  border-width: 10px;
  }

.feedb {
  border-color: red;
  text-align: center;
  display: flex;
  margin: auto;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px 10px;
}

.feedb:hover {
opacity: 80%;
cursor: pointer;
color: green;
}


/*links*/

.fa-instagram {
  background: #125688;
  color: white;
  padding: 20px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 20px;
}

.fa-google {
  background: #dd4b39;
  color: white;
  padding: 20px;
}
